
element.style {
}
body {
    background-color: #d1274b;
}
@media (max-width: 767px);
body {
    padding: 12% 8%}
body {
    max-width: 1920px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    border: none;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html {
    height: 100%;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}